<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moringaschool.ebeautyparlor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="eBeautyParlor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity">
        </activity>
        <activity android:name=".ui.CreateAccountActivity" />
        <activity android:name=".ui.SavedParlorListActivity" />
        <activity android:name=".ui.ParlorDetailActivity" />
        <activity android:name=".ui.ParlorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.ebeautyparlor.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>